
<div class="backdrop-subscribe " data-modal>
  <div class="modal-subscribe">
    <button type="button" class="modal-close-btn-subscribe" data-modal-close>
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-container-subscribe">
      <div class="subscribe-img">
        <img class="subscribe-modal-img subscribe-modal-img-mobil " srcset="../img/subscribe/subscribe-chocolate-mobile.jpg 1x, ../img/subscribe/subscribe-chocolate-mobile@2x.jpg 2x" src="../img/subscribe/subscribe-chocolate-mobile.jpg" alt="Cute puppy" >
        <img class="subscribe-modal-img subscribe-modal-img-desctop " srcset="../img/subscribe/subscribe-chocolate-tablet-desktop.jpg 1x, ../img/subscribe/subscribe-chocolate-tablet-desktop@2x.jpg 2x" src="../img/subscribe/subscribe-chocolate-tablet-desktop.jpg" alt="Cute puppy" >
      </div>
      <h2 class="subscribe-form-title">
      Explore our <br> <span class="subscribe-form-title-part">new chocolate</span>  first!
    </h2>
    <form class="subscribe-form-container">
      <label class="modal-subscribe-form">
        <input
            class="subscribe-form-input"
            type="email"
            name="email"
            placeholder="Enter your email"
          />
      </label>
      <button type="submit" class="form-submit-btn-subscribe"><span class="text-subscribe-button">Subscribe</span><span class="text-submit-button">Submit</span></button>
    </form>
  </div>
  </div>
</div>
=======

<div class="backdrop-subscribe is-hidden-subscribe" data-modal>
    <div class="modal-subscribe">
      <button type="button" class="modal-close-btn-subscribe" data-modal-close>
        <svg class="modal-close-icon" width="8" height="8">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-container-subscribe">
        <div class="subscribe-img">
          <img class="subscribe-modal-img" src="./images/subscribe-modal.jpg" alt="Chocolate" width="538" height="196">
        </div>
        <h2 class="subscribe-form-title">
        Explore our <span class="subscribe-form-title-part">new chocolate</span>  first!
      </h2>
      <form class="subscribe-form-container">
        <label class="modal-subscribe-form">
          <input
              class="subscribe-form-input"
              type="email"
              name="email"
              placeholder="Enter your email"
            />
        </label>
        <button type="submit" class="form-submit-btn-subscribe">Subscribe</button>
      </form>
    </div>
      
    </div>

