<div class="backdrop-subscribe backdrop-reviews is-hidden">
  <div class="modal-subscribe">
    <div class="subscribe-img"></div>
    <div>
      <button type="button" class="modal-close-btn-subscribe">
        <svg class="modal-close-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="modal-container-subscribe">
        <div class="subscribe-img"></div>
        <h2 class="subscribe-form-title">
          Explore our <br />
          <span class="subscribe-form-title-part">new chocolate</span> first!
        </h2>
        <form class="subscribe-form-container">
          <label class="modal-subscribe-form">
            <input
              class="subscribe-form-input"
              type="email"
              name="email"
              placeholder="Enter your email"
            />
          </label>
          <button type="submit" class="form-submit-btn-subscribe">
            <span class="text-subscribe-button">Subscribe</span
            ><span class="text-submit-button">Submit</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
