
<header class="page-header">
    <div class="mobile-header container-header">
        <nav class="logo-nav">
            <a href="../index.html" class="logo">
                <span class="logo-name">SIMPLY&nbsp;</span>CHOCOLATE</a>
               <svg class="icon-chocolate">
                <use href="../img/sprite.svg#icon-chocolate"></use>
               </svg>
               <ul class="main-nav-list">
                <li class="main-nav-item"><a href="../index.html" class="main-nav-link">Home</a></li>
                <li class="main-nav-item"><a href="#how-its-made" class="main-nav-link">How it’s made?</a></li>
                <li class="main-nav-item"><a href="#our-products" class="main-nav-link">Our products</a></li>
                <li class="main-nav-item"><a href="#top-sellers" class="main-nav-link">Top sellers</a></li>
                <li class="main-nav-item"><a href="#chocolate-is-loved" class="main-nav-link">Chocolate is loved</a></li>
               </ul>
               
         </nav>
         <ul class="desktop-social-menu">
            <li class="mobile-social-item">
             <a href="" class="mobile-social-link">
             <svg class="mobile-social-icon instagram-icon">
                 <use href="../img/sprite.svg#icon-instagram"></use>
             </svg>
             </a>
             </li>
             <li class="mobile-social-item">
                 <a href="" class="mobile-social-link">
                     <svg class="mobile-social-icon twitter-icon">
                         <use href="../img/sprite.svg#icon-twitter"></use>
                     </svg>
                 </a>
             </li>
         </ul>
        <button type="button" class="mobile-menu-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="mobile-menu-icon">
                <use href="../img/sprite.svg#icon-menu"></use>
            </svg>
         </button>
    </div>
    
    <div class="mobile-menu js-menu-container" id="mobile-menu">
       <div class="mobile-menu-container">
        <button type="button" class="mobile-close-btn js-close-menu">
            <svg width="28" height="28" class="icon-close">
                <use href="../img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item"><a href="../index.html" class="mobile-menu-link active">Home</a></li>
            <li class="mobile-menu-item"><a href="#how-its-made" class="mobile-menu-link">How it’s made?</a></li>
            <li class="mobile-menu-item"><a href="#our-products" class="mobile-menu-link">Our products</a></li>
            <li class="mobile-menu-item"><a href="#top-sellers" class="mobile-menu-link">Top sellers</a></li>
            <li class="mobile-menu-item"><a href="#chocolate-is-loved" class="mobile-menu-link">Chocolate is loved</a></li>
            </ul>
        
        <ul class="mobile-social-menu">
           <li class="mobile-social-item">
            <a href="" class="mobile-social-link">
            <svg class="mobile-social-icon instagram-icon">
                <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
            </a>
            </li>
            <li class="mobile-social-item">
                <a href="" class="mobile-social-link">
                    <svg class="mobile-social-icon twitter-icon">
                        <use href="../img/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
        
    </div>
    <script src="../mobile-menu.js"></script>
</header> 
