    <section class="hero">
        <div class="hero-div container">
            <h2 hidden>Hero</h2>
            <h2 class="hero-h">Treat yourself or a loved one to 
                our finest ingredients for a moment 
                of pure delight!</h2>
            <ul class="hero-buttons">
            <li class="hero-buttons-li">
            <button class="hero-button-one" type="button">Buy now</button>
            </li>
            <li class="hero-buttons-li">
            <button class="hero-button-two" type="button">How it`s made</button>
            </li>
            </ul>
            <button class="hero-button-three" type="button">
                <!---<span class="hero-scroll-text">scroll down</span>--->
                <svg width="22" height="22" class="hero-scroll">
                    <use href="../img/sprite.svg#icon-bottom"></use>
                </svg>
            </button>
        </div>
    </section>
