    <section class="hero">
        <div class="hero-div hero-container">
            <h2 hidden>Hero</h2>
            <h2 class="hero-h">Treat yourself or a loved one to <br>
                our finest ingredients for a moment 
                of pure delight!</h2>
            <ul class="hero-buttons">
            <li>
            <button class="hero-button-one" type="button">Buy now</button>
            </li>
            <li>
            <button class="hero-button-two" type="button">How it`s made</button>
            </li>
            <li class="hero-buttons-li">
            <a class="hero-button-scroll" href="footer.html">
                scroll down
                <span class="hero-scroll-text">
                <svg width="22" height="22" class="hero-scroll">
                    <use href="../img/sprite.svg#icon-bottom"></use>
                </svg>
                </span>
            </a>
            </li>
            </ul>
        </div>
    </section>
