<section class="how-made"  id="how-its-made">
    <div class="container how-made-container">
        <h1 class="how-made-title">HOW IT’S <span class="how-made-title-second">MADE?</span> </h1>
        <div class="how-made-img-and-list">
            <div class="how-made-play">
            <picture>
                <source media="(min-width: 1200px)"
                    srcset="./img/how_it_s_made/how-made-d.jpg 1x, ./img/how_it_s_made/how-made-d@2x.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="./img/how_it_s_made/how-made-t.jpg 1x, ./img/how_it_s_made/how-made-t@2x.jpg 2x">
                <source media="(min-width: 320px)"
                    srcset="./img/how_it_s_made/how-made-m.jpg 1x, ./img/how_it_s_made/how-made-m@2x.jpg 2x">
                <img src="./img/how_it_s_made/how-made-m.jpg" alt="" class="how-made-img">
            </picture>
            <svg class="how-made-icon" width="35" height="35">
                <use href="./img/sprite.svg#icon-play"></use>
            </svg>
        <!-- <iframe class="how-made-video"
        width="500" 
        height="315" src="https://www.youtube.com/embed/jtHuq5G8h_s" 
        title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe> -->
            </div>
            <div class="how-made-list-background">
                <h2 class="how-made-title-list">
                    Try our chocolates today and discover the perfect balance of flavor
                </h2>
                <ul class="how-made-list">
                    <li class="how-made-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and
                        cocoa
                        powder.
                    </li>
                    <li class="how-made-item">At the same time, prepare a water bath. Melt the butter on it.</li>
                    <li class="how-made-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a
                        silicone
                        spatula so that the mass becomes
                        uniform and silky.</li>
                    <li class="how-made-item">Heat the mixture over low heat, letting it barely boil.</li>
                    <li class="how-made-item">Pour the chocolate into special containers (can be replaced with ice
                        molds). Allow
                        to cool and harden.</li>
                </ul>
            </div>
        </div>
    </div>
</section>