<section class="our-products" id="our-products">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper">
      <h2 class="section-title">
        OUR <span class="section-title-accent-color">PRODUCTS</span>
      </h2>

      <!-- Additional required wrapper -->

      <ul class="our-products-list list swiper-wrapper">
        <!-- Slides -->

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/orange@2x.jpg"
            src="./img/our-products/orange.jpg"
            alt="orange chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">orange</h3>
          <p class="card-desc">Dark chocolate</p>
          <span class="btn-value">45 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/apple-cranberry@2x.jpg"
            src="./img/our-products/apple-cranberry.jpg"
            alt="apple&cranberry chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">apple&cranberry</h3>
          <p class="card-desc">Milk chocolate</p>
          <span class="btn-value">50 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/pineapple@2x.jpg"
            src="./img/our-products/pineapple.jpg"
            alt="pineapple chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">pineapple</h3>
          <p class="card-desc">Dark chocolate</p>
          <span class="btn-value">54 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/lime-sea-salt@2x.jpg"
            src="./img/our-products/lime-sea-salt.jpg"
            alt="lime&sea salt chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">lime&sea salt</h3>
          <p class="card-desc">Dark chocolate</p>
          <span class="btn-value">66 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/classic-milk@2x.jpg"
            src="./img/our-products/classic-milk.jpg"
            alt="classic milk chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">classic</h3>
          <p class="card-desc">Milk chocolate</p>
          <span class="btn-value">45 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/honey@2x.jpg"
            src="./img/our-products/honey.jpg"
            alt="honey chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">honey</h3>
          <p class="card-desc">Milk chocolate</p>
          <span class="btn-value">50 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/roasted@2x.jpg"
            src="./img/our-products/roasted.jpg"
            alt="roasted fruits chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">roasted fruits</h3>
          <p class="card-desc">Dark chocolate</p>
          <span class="btn-value">66 UAH</span>
        </li>

        <li class="our-products-item swiper-slide">
          <img
            srcset="./img/our-products/classic-white@2x.jpg"
            src="./img/our-products/classic-white.jpg"
            alt="classic white chocolate"
            width="230"
            height="201"
          />
          <h3 class="card-title">classic</h3>
          <p class="card-desc">White chocolate</p>
          <span class="btn-value">54 UAH</span>
        </li>
      </ul>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
