<section class="section top-sellers-section" id="top-sellers">
    <div class="container">
        <h2 class="sellers-section-title"><span class="accent-text">Top</span> sellers</h2>
        <ul class="top-sellers-list">
            <li class="top-sellers-item test">
                <picture>
                    <source
                        srcset="../img/top-sellers/choco-coffee-nut.webp 1x, ../img/top-sellers/choco-coffee-nut@2x.webp 2x"
                        media="(min-width: 1200px)" 
                        sizes="368px" 
                        type="image/webp">
                    <source
                        srcset="../img/top-sellers/choco-coffee-nut.jpeg 1x, ../img/top-sellers/choco-coffee-nut@2x.jpeg 2x"
                        media="(min-width: 1200px)" 
                        sizes="368px" 
                        type="image/jpeg">
                    <source
                        srcset="../img/top-sellers/top-sellers-tab/choco-coffee-nut-tab.webp 1x, ../img/top-sellers/top-sellers-tab/choco-coffee-nut-tab@2x.webp 2x"
                        media="(min-width: 768px)" 
                        sizes="344px" 
                        type="image/webp">
                    <source
                        srcset="../img/top-sellers/top-sellers-tab/choco-coffee-nut-tab.jpeg 1x, ../img/top-sellers/top-sellers-tab/choco-coffee-nut-tab@2x.jpeg 2x"
                        media="(min-width: 768px)" 
                        sizes="344px" 
                        type="image/jpeg">
                    <source
                        srcset="../img/top-sellers/top-sellers-mob/choco-coffee-nut-mob.webp 1x, ../img/top-sellers/top-sellers-mob/choco-coffee-nut-mob@2x.webp 2x"
                        sizes="335px" 
                        type="image/webp">
                    <source
                        srcset="../img/top-sellers/top-sellers-mob/choco-coffee-nut-mob.jpeg 1x, ../img/top-sellers/top-sellers-mob/choco-coffee-nut-mob@2x.jpeg 2x"
                        sizes="335px" 
                        type="image/jpeg">
                    <img class="top-sellers-img" src="../img/top-sellers/choco-coffee-nut.jpg" alt="chocolate, coffee beans and hazelnut on the table">
                </picture>
                <p class="top-sellers-text-mob">
                    Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
                    thousands of years and was first discovered by the Native American tribe called the Mayans.
                </p>
            </li>
            <li class="top-sellers-item">
                <picture>
                    <source srcset="../img/top-sellers/choco-stack.webp 1x, ../img/top-sellers/choco-stack@2x.webp 2x"
                        media="(min-width: 1200px)" sizes="368px" type="image/webp">
                    <source srcset="../img/top-sellers/choco-stack.jpeg 1x, ../img/top-sellers/choco-stack@2x.jpeg 2x"
                        media="(min-width: 1200px)" sizes="368px" type="image/jpeg">
                    <source
                        srcset="../img/top-sellers/top-sellers-tab/choco-stack-tab.webp 1x, ../img/top-sellers/top-sellers-tab/choco-stack-tab@2x.webp 2x"
                        media="(min-width: 768px)" sizes="344px" type="image/webp">
                    <source
                        srcset="../img/top-sellers/top-sellers-tab/choco-stack-tab.jpeg 1x, ../img/top-sellers/top-sellers-tab/choco-stack-tab@2x.jpeg 2x"
                        media="(min-width: 768px)" sizes="344px" type="image/jpeg">
                    <source
                        srcset="../img/top-sellers/top-sellers-mob/choco-stack-mob.webp 1x, ../img/top-sellers/top-sellers-mob/choco-stack-mob@2x.webp 2x"
                        sizes="335px" type="image/webp">
                    <source
                        srcset="../img/top-sellers/top-sellers-mob/choco-stack-mob.jpeg 1x, ../img/top-sellers/top-sellers-mob/choco-stack-mob@2x.jpeg 2x"
                        sizes="335px" type="image/jpeg">
                    <img class="top-sellers-img" src="../img/top-sellers/choco-stack.jpg" alt="chocolate bars with fruits and nuts">
                </picture>
            </li>
            <li class="top-sellers-item choco-tower-item">
                <picture>
                    <source srcset="../img/top-sellers/choco-tower.webp 1x, ../img/top-sellers/choco-tower@2x.webp 2x"
                        media="(min-width: 1200px)" sizes="368px" type="image/webp">
                    <source srcset="../img/top-sellers/choco-tower.jpeg 1x, ../img/top-sellers/choco-tower@2x.jpeg 2x"
                        media="(min-width: 1200px)" sizes="368px" type="image/jpeg">
                    <img class="top-sellers-img" src="../img/top-sellers/choco-tower.jpg" alt="chocolate bars and candys">
                </picture>
            </li>
        </ul>
        <div class="text-button-wrapper">
            <p class="top-sellers-text">
                Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
                thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>
            <button type="button" class="top-sellers-btn" data-modal-open>Buy now</button>
        </div>
    </div>
</section>