<section class="unique_components">
  <div class="container">
    <div class="unique_components-header-block">
      <h2 class="unique_components-header">
        IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique_components-header-orange">TASTE</span>  SENSATION
      </h2>
      <p class="unique_components-about">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <div class="unique_components-products">
      <ul class="list-ingridients">
        <li class="list-ingridients-item">
          <div class="card-ingridient">
            <div class="front-card orange-card">
              <img
                class="ingridients-item-img"
                sizes="(max-width: 1199px) 224px, 206px"
                srcset="./img/unique/1x/milk-chocolate-206w.png 206w,
                        ./img/unique/1x/milk-chocolate-224w.png 224w,
                        ./img/unique/2x/milk-chocolate-206w@2.png 412w,
                        ./img/unique/2x/milk-chocolate-224w@2.png 448w"
                src="./img/unique/1x/milk-chocolate-206w.png"
                alt="milk-chocolate"
              />
              <div>
                <p class="name-ingridient">MILK CHOCOLATE</p>
              </div>
            </div>
            <div class="back-card">
              <h3 class="ingridient-header">MILK CHOCOLATE</h3>
              <div class="ingridient-buttons-block">
                <button class="name-ingridient-button" type="button">
                  cocholate
                </button>
                <button class="benefits-ingridient-button" type="button">
                  the benefits
                </button>
              </div>
              <p class="about-ingridient ingridient-text-box">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </li>
        <li class="list-ingridients-item order-position-milk">
          <div class="card-ingridient">
            <div class="front-card">
              <img
                class="ingridients-item-img"
                sizes="(max-width: 1199px) 224px, 206px"
                srcset="./img/unique/1x/milk-206w.png 206w,
                        ./img/unique/1x/milk-224w.png 224w,
                        ./img/unique/2x/milk-206w@2.png 412w,
                        ./img/unique/2x/milk-224w@2.png 448w"
                src="./img/unique/1x/milk-206w.png"
                alt="milk"
              />
              <div>
                <p class="name-ingridient name-ingridient-black">MILK</p>
              </div>
            </div>
            <div class="back-card">
              <h3 class="ingridient-header">MILK</h3>
              <div class="ingridient-buttons-block">
                <button class="name-ingridient-button" type="button">
                  milk
                </button>
                <button class="benefits-ingridient-button" type="button">
                    the benefits
                  </button>
              </div>
              <p class="about-ingridient ingridient-text-box">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system.
              </p>
            </div>
          </div>
        </li>
        <li class="list-ingridients-item order-position">
          <div class="card-ingridient">
            <div class="front-card black-card">
              <img
                class="ingridients-item-img"
                sizes="(max-width: 1199px) 224px, 206px"
                srcset="./img/unique/1x/nuts-206w.png 206w,
                        ./img/unique/1x/nuts-224w.png 224w,
                        ./img/unique/2x/nuts-206w@2.png 412w,
                        ./img/unique/2x/nuts-224w@2.png 448w"
                src="./img/unique/1x/nuts-206w.png"
                alt="nuts"
              />
              <div>
                <p class="name-ingridient">NUTS</p>
              </div>
            </div>
            <div class="back-card">
              <h3 class="ingridient-header">NUTS</h3>
              <div class="ingridient-buttons-block">
                <button class="name-ingridient-button" type="button">
                  nuts
                </button>
                <button class="benefits-ingridient-button" type="button">
                    the benefits
                  </button>
              </div>
              <p class="about-ingridient ingridient-text-box">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source of
                fiber, healthy fats, and plant protein. Plus, they’re great on
                their own.
              </p>
            </div>
          </div>
        </li>
        <li class="list-ingridients-item order-position-choco">
          <div class="card-ingridient">
            <div class="front-card">
              <img
                class="ingridients-item-img"
                sizes="(max-width: 1199px) 224px, 206px"
                srcset="./img/unique/1x/sweet-chocolate-206w.png 206w,
                        ./img/unique/1x/sweet-chocolate-224w.png 224w,
                        ./img/unique/2x/sweet-chocolate-206w@2.png 412w,
                        ./img/unique/2x/sweet-chocolate-224w@2.png 448w"
                src="./img/unique/1x/sweet-chocolate-206w.png"
                alt="sweet-chocolate"
              />
              <div>
                <p class="name-ingridient name-ingridient-black">
                  semi - sweet chocolate
                </p>
              </div>
            </div>
            <div class="back-card">
              <h3 class="ingridient-header">semi - sweet chocolate</h3>
              <div class="ingridient-buttons-block">
                <button class="name-ingridient-button" type="button">
                  sweet chocolate
                </button>
                <button class="benefits-ingridient-button" type="button">
                    the benefits
                  </button>
              </div>
              <p class="about-ingridient ingridient-text-box-mini">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
