.item-advantages .text-advantages {
  width: 308px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.7);

  margin-bottom: 38px;
}
.title-section-advantages {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  margin-bottom: 18px;
}
.section-advantages {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-advantages {
  max-width: 375px;
  display: block;
 margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: block;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.item-advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 70px;
  }
}

.box-icon-directions {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 365px;
margin-bottom: 22px;
}