body {
  font-family: 'Montserrat';
  font-style: normal;
  background-color: #fafafa;
  color: var(--text-color);
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 72px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 100px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-top: 128px;
  }
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  opacity: 0.1;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 10px;
  opacity: 1;
  background: var(--brand-color);
}

.swiper-pagination {
  position: static;
  display: flex;
  column-gap: 13px;
  justify-content: center;
}
