@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('../fonts/montserrat-regular.ttf') format('ttf'),
    url('../fonts/montserrat-regular.eot') format('eot'),
    url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Medium'),
    url('../fonts/montserrat-medium.ttf') format('ttf'),
    url('../fonts/montserrat-medium.eot') format('eot'),
    url('../fonts/montserrat-medium.woff') format('woff'),
    url('../fonts/montserrat-medium.woff2') format('woff2'),
    url('../fonts/montserrat-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Semibold'),
    url('../fonts/montserrat-semibold.ttf') format('ttf'),
    url('../fonts/montserrat-semibold.eot') format('eot'),
    url('../fonts/montserrat-semibold.woff') format('woff'),
    url('../fonts/montserrat-semibold.woff2') format('woff2'),
    url('../fonts/montserrat-semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Bold-Italic'),
    url('../fonts/montserrat-bold-italic.ttf') format('ttf'),
    url('../fonts/montserrat-bold-italic.eot') format('eot'),
    url('../fonts/montserrat-bold-italic.woff') format('woff'),
    url('../fonts/Montserrat-bold-italic.woff2') format('woff2'),
    url('../fonts/montserrat-bold-italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Bold'),
    url('../fonts/montserrat-bold.ttf') format('ttf'),
    url('../fonts/montserrat-bold.eot') format('eot'),
    url('../fonts/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat-bold.woff2') format('woff2'),
    url('../fonts/montserrat-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Montserrat';
  background-color: #fafafa;
  color: var(--text-color);
}

h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
 
}
.section-padding{
  padding-top: 72px;
}
  @media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    
  }
  .section-padding{
    padding-top: 100px;
  }
}
  @media screen and (min-width: 1200px) {
    .container{
    max-width: 1200px;
  }
  .section-padding{
    padding-top: 128px;
  }
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  opacity: 0.1;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 10px;
  opacity: 1;
  background: var(--brand-color);
}

.swiper-pagination {
  position: static;
  display: flex;
  column-gap: 13px;
  justify-content: center;
}
