.backdrop {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .modal {
    position: absolute;
    width: 609px;
    min-height: 1058px;
    top: 50%;
    left: 50%;
    background-color: #FAFAFA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: none;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
  }

  .modal-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FD9222;
  }

  .now {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: black;
  }

  .modal-close-btn:hover {
    background-color: #FCF1E0;
    border: none;
    fill: #ffffff
  }

  .modal-close-btn:focus {
    background-color: #FCF1E0;;
    border: none;
    fill: #ffffff
  }
    

  .icon-close-modal{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 

  .modal-close-btn:hover ,
  .modal-close-btn:focus  {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }

   .icon-close-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .chocolate-cards-list {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .chocolate-card {

  }

  .modal-contact-form {
    width: 360px;
    height: 336px;
    margin-top: 16px;
  }

  .form-wrapper {
    margin-bottom: 8px;
  }

  .form-comment-wrapper {
    margin-bottom: 16px;
  }

  .form-field-checkbox {
    display: block;
    margin-bottom: 8px;
    
  }

  .form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;  
    padding-left: 38px;
    outline: transparent;
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent; 
    
  }
  
  .form-description {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
  } 

  .form-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px; 
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    resize: none;
    line-height: 1.4;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    background-color: transparent;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    margin-left: 0px;
    margin-top: 2px;
    transform: translateY(-50%);
    display: block;
    background-color: ;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

 
  .input-icon-wrapper {
     position: relative;

  }


  .form-comment:focus {
    outline: none;
    border-color: #4D5AE5;
  }

  .form-input:focus {
    outline: none;
    border-color: #4D5AE5;
  }

  .form-submit-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.form-submit-button:hover,
.form-submit-button:focus {
 background-color: #404BBF;
 transition-duration: 250ms;
 
}