
/*=======================================STYLES FOR DESKTOP==============================================================*/

@media screen and (max-device-pixel-ratio: 1) and (min-width: 1200px),
  screen and (max-resolution: 96dpi) and (min-width: 1200px),
  screen and (max-resolution: 1dppx) and (min-width: 1200px) {

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 609px;
  height: 1058px;
  top: 50%;
  left: 50%;
  background-color: #FAFAFA;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  /* background-color: transparent; */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #FCF1E0;
  border: none;
  fill: #000000;
}

.icon-close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal-close-btn:hover .icon-close-modal,
.modal-close-btn:focus .icon-close-modal {
  fill: black;
}

.modal-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FD9222;
  margin-bottom: 32px;
}
.now {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: black;
}

.icon-close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .icon-close-modal,
.modal-close-btn:focus .icon-close-modal {
  fill: #FFFFFF;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.chocolate-cards-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 40px;
}
.chocolate-card {
  width: 100%;
  height: 196px;
  background-color: #FFFFFF;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.weight-btn {
  width: 96px;
  height: 33px;
  border-radius: 100px;
  background: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #111111;
  margin-top: 16px;
}
.personal-information-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.modal-contact-form {
  width: 100%;
  height: 336px;
  margin-top: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
  width: 100%;
}
.form-comment-wrapper {
  margin-bottom: 16px;
  width: 100%;
}
.surname-form-input {
  width: 100%;
  height: 66px;
  border-radius: 4px;
  padding-left: 15px;
  outline: transparent;
  border-color: #FD9222;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  margin-top: 32px;
}
.form-input {
  width: 100%;
  height: 66px;
  border-radius: 4px;
  padding-left: 15px;
  outline: transparent;
  border-color: #FD9222;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  margin-top: 8px;
}

.phone-form-input {
  width: 100%;
  height: 66px;
  border-radius: 4px;
  padding-left: 140px;
  outline: transparent;
  border-color: #FD9222;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  margin-top: 8px;
}

.card-form-input {
  width: 100%;
  height: 66px;
  border-radius: 4px;
  padding-left: 15px;
  outline: transparent;
  border-color: #FD9222;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  margin-top: 8px;
  justify-content: end;
}

.card-input-icon {
  position:absolute;
  top: 50%;
  left: 16px;
  margin-left: 87%;
  margin-top: -7px;
  display: block;
}

.form-description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #000000;
}
.form-comment {
  width: 100%;
  height: 137px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 80px;
  resize: none;
  line-height: 1.4;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  margin-left: 0px;
  margin-top: 2px;
  transform: translateY(-50%);
  display: block;
  background-color: ;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper {
  position: relative;
}
.form-comment:focus {
  outline: none;
  border-color: #FD9222;
}
.form-input:focus {
  outline: none;
  border-color: #FD9222;
}

.surname-form-input:focus {
  outline: none;
  border-color: #FD9222;
}

.phone-form-input:focus {
  outline: none;
  border-color: #FD9222;
}

.card-form-input:focus {
  outline: none;
  border-color: #FD9222;
}

.form-submit-button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  background-color: #FD9222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  color: #FFFFFF;
  padding: 14px 40px;
  min-width: 133px;
  height: 45px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.form-submit-button:hover,
.form-submit-button:focus {
  background-color: #FCF1E0;
  transition-duration: 250ms;
}

  }