.backdrop-subscribe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
  .modal-subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 538px;
    min-height: 412px;
    padding: 72px 24px 24px 24px;
    background: #FAFAFA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  .subscribe-modal-img {
    position: fixed;
    justify-content: space-between;
    width: 538px;
    height: 196px;
    left: 0px;
    top: 0px;
  }  
  
  .is-hidden-subscribe {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  
  .modal-container-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    
    position: absolute;
    width: 458px;
    height: 136px;
    left: 40px;
    top: 236px;
  }

  .subscribe-form-title {
    width: 298px;
    height: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
  }
  .subscribe-form-title-part {
    color: #FD9222;
  }

  .subscribe-form-input {
    border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  }

  .modal-subscribe-form {
    display: flex;
  align-items: center;
  gap: 24px;
  }

  .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 17px 40px;
    background-color: #FD9222;;
    border-radius: 100px;
    border: none;
    height: 40px;
    min-width: 165px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    isolation: isolate;    
  }

  .form-submit-btn:hover,
  .form-submit-btn:focus {
    background-color: #FCF1E0;
    color: #FD9222;
  }