/*-----Mobile------*/
.how-made-container {
  padding-top: 72px;
}

.how-made-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.how-made-title-second {
  color: #fd9222;
}

.how-made-title-list {
  width: 100%;
  height: auto;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 600;
  margin-bottom: 20px;
}

.how-made-img {
  width: 100%;
  border-radius: 15px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.how-made-list-background {
  padding: 20px 14px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: disc;
  padding: 0 0 0 14px;
}

.how-made-item {
  font-size: 15px;
  line-height: 1.29;
}

.how-made-play {
  position: relative;
}

.how-made-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: 0;  
}
.how-made-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------Tablet-----------*/
@media screen and (min-width: 768px) {
  .how-made-container {
    padding: 100px 46px 0 46px;
  }

  .how-made-title {
    font-size: 24px;
  }

  .how-made-img {
    margin-top: 50px;
  }

  .how-made-list-background {
    padding: 32px;
  }

  .how-made-title-list {
    width: 330px;
  }

  .how-made-item {
    width: 480px;
  }
  .how-made-icon {
    width: 44px;
    height: 44px;
  }
}

/*--------Desktop--------*/
@media screen and (min-width: 1200px) {
  .how-made-img-and-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 50px;
  }

  .how-made-container {
    padding-top: 128px;
  }

  .how-made-img {
    height: 100%;
    margin: 0;
  }
}
