img {
  display: inline-block;
  max-width: none;
  height: auto;
}

.swiper-pagination {
  position: static;
  margin-top: 30px;
  display: flex;
  column-gap: 13px;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;

  /* background: rgba(17, 17, 17, 0.1); */
}
.swiper-slide {
  flex-shrink: 1;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  opacity: 1;
  border-radius: 10px;
  background: #fd9222;
}

.section-title {
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

.section-title-accent-color {
  color: #fd9222;
}

.our-products-list {
  display: flex;
}

.card-title {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
}

.card-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.btn-value {
  padding: 8px 20px;
  margin-top: 18px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #111111;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.our-products-item {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

/* ============= Mobile styles ========== */

@media screen and (min-width: 375px) {
  .our-products {
    padding-top: 72px;
  }

  .section-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  .our-products-item {
    padding-left: 52px;
    padding-right: 52px;
    background: #ffffff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
  .swiper-pagination {
    margin-top: 20px;
  }
}

/* ============ Tablet styles =========== */

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .our-products-list {
    gap: 18px;
  }

  .our-products-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-pagination {
    margin-top: 32px;
  }
}

/* ========== Desktop styles ============ */

@media screen and (min-width: 1200px) {
  .swiper-pagination {
    margin-top: 77px;
  }
}
