.reviews-section {
  padding-bottom: 72px;
  text-align: center;
}

@media screen and (min-width: 786px) and (max-width: 1157px) {
  .reviews-section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1158px) {
  .reviews-section {
    padding-bottom: 128px;
  }
}

.reviews-title {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;

  margin-bottom: 32px;
}

@media screen and (min-width: 786px) {
  .reviews-title {
    margin-bottom: 50px;
  }
}

.reviews-title-text {
  color: var(--brand-color);
}

.reviews-list {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (min-width: 786px) {
  .reviews-list {
    margin-bottom: 32px;
  }
}

.reviews-swiper {
  margin-bottom: 32px;
}

@media screen and (min-width: 786px) {
  .reviews-swiper {
    margin-bottom: 50px;
  }
}

.reviews-item {
  width: 100%;
  height: 242px;
  padding-top: 42px;
}

@media screen and (min-width: 786px) and (max-width: 1157px) {
  .reviews-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .reviews-item {
    width: calc((100% - 2 * 28px) / 3);
  }
}

.reviews-swiper-wrapper {
  position: relative;
  padding-top: 56px;
  padding-bottom: 42px;
  padding-right: 18px;
  padding-left: 18px;

  height: 200px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  text-align: center;
}

@media screen and (min-width: 786px) and (max-width: 1157px) {
  .reviews-swiper-wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .reviews-swiper-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.reviews-img {
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 0);
}

.reviews-item-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-text {
  line-height: 1.29;
}

.reviews-open-btn {
  width: 165px;
  height: 41px;

  border: 1px solid var(--brand-color);
  border-radius: 100px;
  text-align: center;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 786px) and (max-width: 1157px) {
  .reviews-open-btn {
    width: 222px;
    height: 50px;
  }
}

.reviews-open-btn:hover,
.reviews-open-btn:focus {
  background-color: var(--brand-color);
  color: #fff;
}

.swiper_1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  display: block;
}
