.reviews-section {
  padding-bottom: 128px;
  text-align: center;
}

.reviews-title {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;

  margin-bottom: 90px;
}

.reviews-title-text {
  color: var(--brand-color);
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 32px;
}

.reviews-swiper {
  margin-bottom: 50px;
}

.reviews-item {
  position: relative;
  padding: 56px 24px 42px 24px;

  flex-basis: calc(100% - 2 * 28px);
  height: 200px;

  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  text-align: center;
}

.reviews-img {
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 0);
}

.reviews-item-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-text {
  line-height: 1.29;
}

.reviews-open-btn {
  width: 222px;
  height: 50px;

  border: 1px solid var(--brand-color);
  border-radius: 100px;
  text-align: center;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-open-btn:hover,
.reviews-open-btn:focus {
  background-color: var(--brand-color);
  color: #fff;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 10px;
  background: var(--brand-color);
}
