/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./advantages.css');
@import url('./buy_now.css');
@import url('./explore_our_new_chocolate_first.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./how_it_s_made.css');
@import url('./leave_a_review_about_our_chocolate.css');
@import url('./our_products.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./top_sellers.css');
@import url('./unique_components.css');
@import url('./vite-promo.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
